<!DOCTYPE html>
<html>
  <head>
    <title>LoginWithoutDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Logout", session_destroy_path(user_id: current_user.id), method: :get %>
  <% else %>
    <%= link_to 'Login', new_session_path %> | <%= link_to 'Signup', new_registration_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
